<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- javascript-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <script type="text/javascript" src="../js/footer.js"></script>
    <title>Hello, world!</title>
</head>
<body>
    <div class="bg-dark">
        <div class="container bg-dark text-white">
            <br />
            <div class="row">
                <div class="col order-1 hidden-sm">

                    <p id="footheading .d-none .d-md-block .d-lg-none">Internships by places</p>
                    <p id="footdata">Internship in India</p>
                    <p id="footdata">Internship in Delhi</p>
                    <p id="footdata">Internship in Bangalore</p>
                    <p id="footdata">Internship in Hyderabad</p>
                    <p id="footdata">Internship in Mumbai</p>
                    <p id="footdata">Internship in Chennai</p>
                    <p id="footdata">Internship in Gurgaon</p>
                    <p id="footdata">Internship in Kolkata</p>
                    <p id="footdata">Virtual internship</p>
                </div>
                <div class="col order-2 hidden-sm">
                    <p id="footheading">Internship by Stream</p>
                    <p id="footdata">Computer Science Internship</p>
                    <p id="footdata">Electronics Internship</p>
                    <p id="footdata">Mechanical Internship</p>
                    <p id="footdata">Civil Internship</p>
                    <p id="footdata">Marketing Internship</p>
                    <p id="footdata">Chemical Internship</p>
                    <p id="footdata">Finance Internship</p>
                    <p id="footdata">Summer Research Fellowship</p>
                    <p id="footdata">Campus Ambassador Program</p>
                </div>
                <div class="col order-3 hidden-sm">
                    <p id="footheading">Online Summer Trainings</p>
                    <p id="footdata">Web Development</p>
                    <p id="footdata">Android App Development</p>
                    <p id="footdata">Programming with Python</p>
                    <p id="footdata">Data Science</p>
                    <p id="footdata">Ethical Hacking</p>
                    <p id="footdata">Core Java</p>
                    <p id="footdata">Digital Marketing</p>
                    <p id="footdata">Advance Excel</p>
                    <p id="footdata">Programming with C & C++</p>
                </div>
                <div class="col order-4 ">

                    <p id="footheading">About Internshala</p>
                    <p id="footdata">About us</p>
                    <p id="footdata">We're hiring</p>
                    <p id="footdata">Hire interns for your company</p>
                    <p id="footdata">Team Diary</p>
                    <p id="footdata">Blog</p>
                    <p id="footdata">Our Services</p>
                    <p id="footdata">Terms & Conditions</p>
                    <p id="footdata"> Privacy</p>
                    <p id="footdata">Contact us</p>
                    <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" heigth="70" width="100" />
                </div>
            </div>
            <hr />
            <p id="copyrights">© Copyright 2019 Internshala</p>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


