<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- javascript-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <script type="text/javascript" src="../js/navbar.js"></script>
    <title>Hello, world!</title>
</head>
<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../images/download.png" height="25" width="120" class="d-inline-block align-top" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item active ">
                        <a class="nav-link" href="#">
                             </a>
                    </li>

                    <li class="nav-item dropdown navbar-right">
                        <a class="nav-link dropdown-toggle" href="https://internshala.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            INTERNSHIP
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Location</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Bangalore</a></li>
                                    <li><a class="dropdown-item" href="#">Chennai</a></li>

                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Profile</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Computer science</a></li>
                                    <li><a class="dropdown-item" href="#">Marketing</a></li>

                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Company</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Digital marketing</a></li>
                                    <li><a class="dropdown-item" href="#">MBA</a>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ONLINE SUMMER TRAINING <span style="background-color: orange; color:white;">OFFER</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Programming</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">c</a></li>
                                    <li><a class="dropdown-item" href="#">java</a>

                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Core</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Iot</a></li>
                                    <li><a class="dropdown-item" href="#">Auto CAD</a>

                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Management</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Digital Maketing</a></li>
                                    <li><a class="dropdown-item" href="#">Data Science</a>

                                </ul>
                            </li>
                        </ul>
                    </li>


                    <div class="btn-group">
                        <button type="button" class="btn btn-primary " data-toggle="dropdown" aria-expanded="false">
                            LOGIN <span class="caret"></span>
                        </button>

                    </div>
                </ul>

            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Register <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><span style="color:black; font-size:10px;">As a Student</span></a></li>
                    <li><a href="#"><span style="color:black;font-size:10px;">As an Employer</span></a></li>
                </ul>
            </div>
           
        </nav>
    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>