<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- javascript-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://cdn.internshala.com/static/css/home.1556716793.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <script type="text/javascript" src="../js/navbar.js"></script>
    <title>Hello, world!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="dropdown dropdown-hover">
                    <a href="https://internshala.com/internships" id="internships_new_superscript">
                        Internships
                        <b class="caret hidden-xs hidden-sm"></b>
                    </a>
                    <div class="dropdown-menu" id="internships-dropdown" class="hidden-xs">
                        <div class="dropdown-menu-arrow-key guest_home"></div>
                        <div class="dropdown-menu-arrow-key-1 guest_home"></div>
                        <div class="dropdown-inner">
                            <div class="inner-dropdown">
                                <div class="menu-heading">
                                    Location
                                </div>
                                <hr class="drop-down-rule">
                                <ul class="dropdown-menu-part">
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-bangalore">Internship in Bangalore</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-delhi">Internship in Delhi</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-hyderabad">Internship in Hyderabad</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-mumbai">Internship in Mumbai</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-chennai">Internship in Chennai</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-pune">Internship in Pune</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-kolkata">Internship in Kolkata</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/internship-in-jaipur">Internship in Jaipur</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/work-from-home-jobs">Work from Home Jobs/Internships</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/international-internship">International Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/" style="text-decoration:underline;">View more</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inner-dropdown">
                                <div class="menu-heading">
                                    Profile
                                </div>
                                <hr class="drop-down-rule">
                                <ul class="dropdown-menu-part">
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/computer%20science-internship">Computer Science Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/marketing-internship">Marketing Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/finance-internship">Finance Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/mechanical-internship">Mechanical Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/hr-internship">HR Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/digital marketing-internship">Digital Marketing Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/electronics-internship">Electronics Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/content%20writing-internship">Content Writing Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/civil-internship">Civil Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/campus ambassador-internship?utm_medium=header">Campus Ambassador Program</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_profile" href="/internships/" style="text-decoration:underline;">View more</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inner-dropdown">
                                <div class="menu-heading">
                                    Category
                                </div>
                                <hr class="drop-down-rule">
                                <ul class="dropdown-menu-part">
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/engineering-internship">Engineering Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/mba-internship">MBA Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/part-time-jobs">Part-Time Jobs/Internships</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/graphic design-internship">Graphic Design Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/humanities-internship">Humanities Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/science-internship">Science Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/law-internship">Law Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/architecture-internship">Architecture Internship</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships/ppo-true">Internships with Job Offer</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_location" href="/internships-for-women?utm_medium=ifw_is_dropdown">Internships for Women</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="internship_item">
                                        <a class="internship_item_category" href="/internships/" style="text-decoration:underline;">View more</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
    </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>