<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- javascript-->
    <link rel="stylesheet" type="text/css" href="../css/view.css">
    <script type="text/javascript" src="../js/view.js"></script>
    <title>Hello, world!</title>
</head>
<body>
    <!--container1 for internships in cities-->
    <!-- container 2 for categories-->

    <div class="container" id="discover_internships">
        <div class="popular-message">Internships in popular cities</div>

        <div class="row">

            <div class="col order-1">
                <a href="https://internshala.com" class="home_tile_city" id="home_tile_work_from_home">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_work_from_home_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Work From Home</span>
                    </div>
                </a>
            </div>
            <div class="col order-2">
                <a href="https://internshala.com" class="home_tile_city" id="home_tile_delhi">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_delhi_new.jpg');" class="discover-image">
                        <span style="font-size:20px;line-height: 20px; top: 38px;">Delhi NCR</span>
                    </div>
                </a>
            </div>
            <div class="col order-3">
                <a href="https://internshala.com" class="home_tile_city" id="home_tile_bangalore">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_bangalore_new.jpg');" class="discover-image">
                        <span style="font-size:15px;">Bangalore</span>
                    </div>
                </a>
            </div>
            <div class="col order-4">
                <a href="https://internshala.com" class="home_tile_city" id="home_tile_mumbai">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_mumbai_new.jpg');" class="discover-image">
                        <span style="font-size:15px;">Mumbai</span>
                    </div>
                </a>
            </div>
            <div class="col order-5">
                <a href="https://internshala.com/internships/internship-in-hyderabad" class="home_tile_city" id="home_tile_hyderabad">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_hyderabad_new.jpg');" class="discover-image">
                        <span style="font-size:15px;">Hyderabad</span>
                    </div>
                </a>
            </div>
            <div class="col order-6">
                <a href="https://internshala.com" class="home_tile_city" id="home_tile_chennai">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_chennai_new.jpg');" class="discover-image">
                        <span style="font-size:15px;">Chennai</span>
                    </div>
                </a>
            </div>
            <div class="col order-7">
                <a href="https://internshala.com" class="home_tile_city" id="home_tile_kolkata">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_kolkata_new.jpg');" class="discover-image">
                        <span style="font-size:15px;">Kolkata</span>
                    </div>
                </a>

            </div>
            <div class="col order-8">

                <a href="https://internshala.com" class="home_tile_city" id="home_tile_international">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/city_international_new.jpg');" class="discover-image">
                        <span style="font-size:12px;">International</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container" id="discover_internships">
        <div class="popular-message">Internships in popular categories</div>
        <div class="row">

            <div class="col order-1">

                <a href="https://internshala.com" class="home_tile_category" id="home_tile_part_time_job">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_part_time.png');" class="discover-image">
                        <span style="font-size:12px;">Part-time</span>
                    </div>
                </a>

            </div>
            <div class="col order-2">
                <a href="https://internshala.com" class="home_tile_category" id="home_tile_engineering">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_engineering_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Engineering</span>
                    </div>
                </a>
            </div>
            <div class="col order-3">
                <a href="https://internshala.com" class="home_tile_category" id="home_tile_ngo">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_ngo_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">NGO</span>
                    </div>
                </a>
            </div>
            <div class="col order-4">
                <a href="https://internshala.com" class="home_tile_category" id="home_tile_mba">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_mba_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Mba</span>
                    </div>
                </a>

            </div>
            <div class="col order-5">
                <a href="https://internshala.com" class="home_tile_category" id="home_tile_graphic_design">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_design_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Design</span>
                    </div>
                </a>
            </div>
            <div class="col order-6">
                <a href="https://internshala.com" class="home_tile_category" id="home_tile_science">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_science_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Science</span>
                    </div>
                </a>

            </div>
            <div class="col order-7">
                <a href="https://internshala.com/internships/media-internship" class="home_tile_category" id="home_tile_media">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_media_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Media</span>
                    </div>
                </a>
            </div>
            <div class="col order-8">
                <a href="https://internshala.com" class="home_tile_category" id="home_tile_humanities">
                    <div style="background-image: url('https://internshala.com/static/images/home/discover/category_humanities_new.jpg');" class="discover-image">
                        <span style="font-size:15px;line-height: 20px; top: 38px;">Humanities</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center" id="or-message-container">
        or
        <a href="https://internshala.com"><span id="view_all" style="font-weight:bold;"> view all internships > <span class="glyphicon glyphicon-chevron-right >"></span></span></a>
    </div>

    <!--IS traingings-->
    <br>
    <hr>
    <br>
    <div class="container" id="vtc" style="align-content: center;">
        <div class="max-width-container">
            <h3 style="text-align:center;">Internshala Trainings</h3>
            <br>
            <div class="row" id="vtc-container">

                <a href="https://trainings.internshala.com/web-development-training?utm_source=IS-home1" target="_blank" style="text-decoration:none;">
                    <div class="col-3 order-1 " id="card_container">
                        <div class="course_details">
                            <div class="course_details_image">
                                <img src="https://internshala.com/static/images/home/vtc/webdev101.jpg" style="width:100% " alt="">
                            </div>
                            <div class="course_details_data">
                                <p class="course_details_name">Web Development</p>
                                <p class="course_details_tag">Build an e-commerce website from scratch</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="https://trainings.internshala.com/python-training?utm_source=IS-home2" target="_blank" style="text-decoration:none;">
                    <div class="col-3 order-2" id="card_container">
                        <div class="course_details">
                            <div class="course_details_image">
                                <img src="https://internshala.com/static/images/home/vtc/python.jpg" style="width:100% " alt="">
                            </div>
                            <div class="course_details_data">
                                <p class="course_details_name">Python</p>
                                <p class="course_details_tag">Build a fantasy cricket game using Python language</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="https://trainings.internshala.com/digital-marketing-training?utm_source=IS-home3" target="_blank" style="text-decoration:none;">
                    <div class="col-3 order-3" id="card_container">
                        <div class="course_details">
                            <div class="course_details_image">
                                <img src="https://internshala.com/static/images/home/vtc/marketing101.jpg" style="width:100% " alt="">
                            </div>
                            <div class="course_details_data">
                                <p class="course_details_name">Digital Marketing</p>
                                <p class="course_details_tag">Learn SEO, email marketing, web analytics and more.</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="https://trainings.internshala.com/hacking-training?utm_source=IS-home4" target="_blank" style="text-decoration:none;">
                    <div class="col-3 order-4 " id="card_container">
                        <div class="course_details">
                            <div class="course_details_image">
                                <img src="https://internshala.com/static/images/home/vtc/hacking.jpg" style="width:100% " alt="">
                            </div>
                            <div class="course_details_data">
                                <p class="course_details_name">Ethical Hacking</p>
                                <p class="course_details_tag">Learn to hack and secure web applications</p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
           <br />
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>